/* Common styles for both admin and user pages */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    /*border: 1px solid #FDFD96;*/
    padding: 10px;
    text-align: left;
}


input[type="text"], input[type="date"], input[type="number"], select {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #FDFD96;
    border-radius: 4px;
    border-width: medium;
}

/* User page buttons and styles */
.user-page input[type="submit"],
.user-page a.button {
    background-color: #4CAF50; /* Green for user pages */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.user-page input[type="submit"]:hover,
.user-page a.button:hover {
    background-color: #45a049;
}

/* Admin page buttons and styles */
.admin-page input[type="submit"],
.admin-page button,
.admin-page a.button {
    background-color: #f44336; /* Orange for admin pages */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

.admin-page input[type="submit"]:hover,
.admin-page button:hover,
.admin-page a.button:hover {
    background-color: #f44336; /* Darker orange on hover */
}


/* Page-specific background colors */
.user-page {
    background-color: #e3f2fd; /* Light blue for user pages */
}

.admin-page {
    background-color: #FDFD96; /* Light orange for admin pages */
}

button.delete {
    background-color:#f44336;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.delete:hover {
    background-color: #e53935;
}

